body{
    background-image: url(./assets/img/fondo-hiperespacial-3d-con-efecto-tunel-de-urdimbre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

::-webkit-scrollbar {
  height: 15px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3b3838;     /* color de la barra en sí */
  border-radius: 4px;   /* redondeo */
}

#root{
    height: 100vh;
}

.nav-config{
    min-height: 8%;
    box-shadow: 0px 1px 16px rgba(245, 245, 245, 0.972);
}

.img-navbar{
    height: 65px;
    width: 110px;
    border: none;
    display: block;
    box-shadow: -150px -150px 150px rgba(45, 5, 5, 0.972);
}

.main-config{
    min-height: 86%;
    margin: 20px;
}

.section-title{
    margin-bottom: 1.5rem;
    box-shadow: 1px 2px 10px rgba(235, 234, 234, 0.972);
    border-radius: 100%;
}

.sectionCharacterBox{
    box-shadow: 1px 20px 10px rgba(235, 234, 234, 0.972);
    background-color: black;
}

.button-shadow{
    box-shadow: 0px 1px 6px rgba(235, 234, 234, 0.972);
}

.article-config {
    display: flex;
    overflow-x: auto;
}

.img-card{
    object-fit: cover;
    height: 75%;
}

.footer-size{
    min-height: 6%;
    box-shadow: 0px -1px 16px rgba(245, 245, 245, 0.972);
}

